.smallcard-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 100px;
}

.smallcard-container > img {
    width: 30px;
}

.smallcard-container > h4, img , p {
    margin-right: 10px;
}
